#home{
	background-color: white;
 
}

#menu{
	background-color: white;

}

#contact{
	background-color: white;
}


div.row1{
	text-align: center;
}
div.carousel-inner{
	text-align: center;
}

#Beef{
height: 70%;
width: 70%;
}

#IceCream{
	height: 70%;
	width: 70%;
}

#range{
	height: 50%;
	width: 50%;
}

section.hours{
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: white;
}

section.address{
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: white;
}

section.Snacks{
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: white;
}

section.Burgers{
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: white;
}

section.SidesBurgerBattleFries{
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: white;
}

section.SpecialsSalads{
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: white;
}

section.ContactUs{
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: white;
}
