body{
	background-color: white
 
}
div.row1{
	text-align: center;
}
div.carousel-inner{
	text-align: center;
}
#Beef{
height: 70%;
width: 70%;
}

#IceCream{
	height: 70%;
	width: 70%;
}

section.Snacks{
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

section.Burgers{
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

section.SidesBurgerBattleFries{
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

section.SpecialsSalads{
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
